{% if page.url contains "/about" %}
  {% assign about = true %}
{% endif %}
{% if page.url contains "/en.html" or page.url contains "-en.html" %}
  {% assign en = true %}
  {% assign lang = "en" %}
  {% assign langx = "-en" %}
{% else %}
  {% assign ru = true %}
  {% assign lang = "ru" %}
  {% assign langx = "" %}
{% endif %}
<div id="footer">
  <table>
    <tbody>
      <tr>
        <td><small>&copy; 2016-{{ 'now' | date: "%Y" }}</small></td>
        {% if about %}
          <td> </td>
        {% elsif en %}
          <td style="text-align: right;"><a href="/about{{ langx }}">About this site</a></td>
        {% else %}
          <td style="text-align: right;"><a href="/about">Об этом сайте</a></td>
        {% endif %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% if site.google_analytics %}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
{% endif %}
