---
---

@import "{{ site.theme }}";

#title {
  margin: 50px 0;
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
}

#title h1 {
  font-size: 40px;
  line-height: 36px;
}

#title p {
  color: #d7cfbe;
  font-size: 18px;
}

#title .credits.left {
  float: left;
}

#title .credits {
  font-size: 11px;
  color: #696969;
  margin-top: -10px;
}

article img {
  max-width: 100%;
}

#footer {
  padding: 20px;
}
