---
---
@import "{{ site.theme }}";

@media print {
  body { background: #000; color: #fff; }
  div#title { display: none; }
  div.wrapper { max-width: unset; }
  h1, h2, h3, h4, h5, h6, p, a { color: #000; }
  ul { list-style-type: unset; }
}
