<!DOCTYPE html>
{% if page.url contains "/about" %}
  {% assign about = true %}
{% endif %}
{% if page.url contains "/en.html" or page.url contains "-en.html" %}
  {% assign en = true %}
  {% assign lang = "en" %}
  {% assign langx = "-en" %}
  {% assign author = "Dmitrii Evdokimov" %}
{% else %}
  {% assign ru = true %}
  {% assign lang = "ru" %}
  {% assign langx = "" %}
  {% assign author = "Дмитрий Евдокимов" %}
{% endif %}
<html lang="{{ lang }}">
  
  {% include head %}
  
  <body>
    <div class="wrapper">
      <section>
        {% if site.github.is_user_page %}

          {{ content }}

        {% elsif site.github.is_project_page %}
          <div id="title">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
            <hr>
            <span class="credits left">Project by <a href="/{{ langx }}" title="Home Page">{{ author }}</a></span>
            <span class="credits right">Hosted on <a href="{{ site.github.repository_url }}" title="Project">GitHub</a></span>
          </div>

          {{ content }}

        {% endif %}
      </section>
      <div id="footer">
        <table>
          <tbody>
            <tr>
              <td>&copy; 2016-{{ 'now' | date: "%Y" }}</td>
              {% if about %}
                <td> </td>
              {% elsif en %}
                <td style="text-align: right;"><a href="/about{{ langx }}">About this site</a></td>
              {% else %}
                <td style="text-align: right;"><a href="/about">Об этом сайте</a></td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
          pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
