{% include head.html %}
<style type="text/css">
section {
margin: 20px 0;
}
article {
background-color: #ffc;
color: black;
margin: 0;
padding: 2em;
}
img {
float: left;
margin-right: 10px;
}
</style>
</head>
<body>
<div class="wrapper">
<section>
<hgroup>
<div id="title">
<span class="credits left"><a href="{{ site.locales[lang].path }}" title="{{ site.locales[lang].home }}">{{ site.locales[lang].name }}</a></span>
</div>
<p>{{ page.origin }}<br>{{ page.issued }}</p>
</hgroup>
<article>
{{ content }}
</article>
{% case page.origin % }
{% when 'PANASONIC: IDEAS FOR LIFE' %}

---

* [Праздничная весна](/papers/ideas-prazdnichnaya-vesna)
* [Белый день: что дарят в Японии](/papers/ideas-belii-den-chto-daryat-v-yaponii)
* [Цветет сакура](/papers/ideas-tsvetet-sakura)
* [Букет & икэбана](/papers/ideas-buket-&-ikebana)
* [Искусство для искушенных](/papers/ideas-iskusstvo-dlya-iskushennih)
* [Бонсай любит профессионалов](/papers/ideas-bonsai-lyubit-professionalov)
* [Праздник маленьких японок](/papers/ideas-prazdnik-malenkih-yaponok)
* [Праздник силы и бодрости духа](/papers/ideas-prazdnik-sili-i-bodrosti-duha)
* [Японский меч: философия оружия](/papers/ideas-yaponskii-mech-filosofiya-oruzhiya)
* [Пять красок Японии](/papers/ideas-pyat-krasok-yaponii)
* [Сад оригами](/papers/ideas-sad-origami)
* [Возвращение оригами](/papers/ideas-vozvraschenie-origami)
* [Японские открытки](/papers/ideas-yaponskie-otkritki)
* [Киото - старая столица](/papers/ideas-kioto-staraya-stolitsa)
* [Игра императоров, мудрецов и великих комбинаторов](/papers/ideas-igra-imperatorov-mudretsov-i-velikih-kombinatorov)
* [Когда властвует луна...](/papers/ideas-kogda-vlastvuet-luna)
* [Что такое аниме?](/papers/ideas-chto-takoe-anime)
* [Вечеринка в японском стиле](/papers/ideas-vecherinka-v-yaponskom-stile)
* [Онигири: рисовые колобки по-японски](/papers/ideas-onigiri-risovie-kolobki)
* [Крокеты по-японски](/papers/ideas-kroketi-po-yaponski)
* [Японский кулинарный словарь](/papers/ideas-yaponskii-kulinarnii-slovar)

{% endcase % }
<footer>
<div id="footer">
<p>Все права остаются за соответствующими авторами.<br>Оцифровано для сохранения на память.</p>
</div>
</footer>
</section>
</div>
</body>
</html>
